h1{
    display:inline-block;
}
.bg-dark
{
    background-color: rgb(117, 106, 106) !important;
    padding-left:30px;
    border: 2px solid black;
    
}
.navbar-brand h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 620;
}
.container-fluid{
    padding:0;
}
.centre{
  font-size: 39px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 600;
}
.PP{
    padding-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 23px;
    font-weight: 630;
}
.continer{
    background-color:rgb(117, 106, 106);
    font-weight: 630;
    color: black;
    font: 18px;
    width: 95% !important;
    padding: 25px;

}
.navbar-nav .nav-item
{   
    border-collapse: collapse;
text-align: center;
border-top: 2px black solid;
border-bottom: 2px black solid;
border-right: 3px black solid;
border-left: 3px black solid;

}
.navbar-nav .nav-item a{
    font-size: 17px;
    font-weight: 600;
    color: black;
}
@media (max-width:768px)
{
    .continer{
        width: 85% !important;
    }

}

#kl{
    border-bottom:3px black solid !important;
}

